---
import Layout from '../layouts/Layout.astro';
import SocialLink from '../components/SocialLink.astro';
import ProfilePic from '../components/ProfilePic.astro';
import { Icon } from 'astro-icon/components';

import profiePic from '../images/profile_picture.jpg';
---

<Layout>
	<section class="bg-slate-100 py-24 relative overflow-hidden">
		<div class="flex justify-between items-center max-w-4xl m-auto">
			<div>
				<h1 class="text-4xl font-display font-bold mb-2">Gage O'Laughlin</h1>
				<p class="text-xl text-slate-800 font-display mb-2">Software Developer</p>
				<div class="flex flex-col gap-2 items-start">
					<div class="flex items-center text-sm gap-x-2">
						<Icon 
							class="text-red-800" 
							name="material-symbols:location-on"
							aria-label="city"
						/>
						<span class="text-slate-800">Milwaukee, WI</span>
					</div>
					<SocialLink 
						class="text-green-700" 
						name="gage.olaughlin@gmail.com" 
						url="mailto:gage.olaughlin@gmail.com"
						icon="material-symbols:mail-sharp"
					/>
					<SocialLink 
						class="text-blue-700" 
						name="LinkedIn" 
						url="https://www.linkedin.com/in/gageolaughlin/"
						icon="cib:linkedin"
					/>
					<SocialLink 
						class="text-purple-700" 
						name="GitHub" 
						url="https://github.com/golaughlin"
						icon="cib:github"
					/>
				</div>
			</div>
			<div class="order-first md:order-last">
				<ProfilePic src={profiePic} name="Gage O'Laughlin" />
			</div>
		</div>
		<div class="max-w-4xl m-auto flex items-center justify-center">
			<p class="my-8 p-2 bg-white rounded-sm shadow-md text-black">
				Experienced and passionate front-end software and <abbr title="user interface">UI</abbr> engineer.
				Focused on designing and developing applications accessible to both users and <abbr title="artifical intelligence">AI</abbr>.
			</p>
		</div>
	</section>
</Layout>
