---
import { Icon } from "astro-icon/components";
import NavLink from "./NavLink.astro";
import Logo from "../assets/logo.svg";
---

<header class="bg-white w-full sticky">
    <div class="max-w-4xl mx-auto flex justify-between items-center p-4">
        <div class="flex justify-start items-center space-x-2">
            <Logo class="h-8" />
            <span class="flex-auto text-lg text-black font-display font-medium">Gage O'Laughlin</span>
        </div>
        <nav>
            <ul class="flex flex-auto justify-center items-center space-x-6">
                <NavLink title="Skills" url="#skills" />
                <NavLink title="Experience" url="#experience" />
                <NavLink title="Education" url="#education" />
            </ul>
        </nav>
        <div class="flex justify-end items-center">
            <Icon class="text-xl" name="material-symbols:dark-mode" />
        </div>
    </div>
</header>