---
const { title, url } = Astro.props;
---

<li
  class="flex items-center justify-center text-lg text-center font-medium px-4 py-1 border border-transparent
        hover:bg-gradient-to-b hover:from-slate-200 hover:to-slate-300 hover:border hover:border-slate-300 hover:shadow-inner hover:rounded-sm
        dark:hover:from-slate-900 dark:hover:to-slate-950 dark:hover:shadow-black dark:hover:border-slate-950"
>
  <a class="text-slate-900 dark:text-slate-100" href={url}>{title}</a>
</li>
