---
const { title, url } = Astro.props;
---

<li class="flex items-center justify-center text-lg text-center font-medium px-4 py-1 border border-transparent hover:bg-gradient-to-b hover:from-slate-200 hover:to-slate-300 hover:border hover:border-slate-300 hover:shadow-inner hover:rounded-sm">
    <a class="text-slate-900" href={url}>{title}</a>
</li>