---
import Card from "./Card.astro";
const { title } = Astro.props;
---

<Card>
  <h3
    class="font-display font-semibold text-xl text-slate-900 mb-2 dark:text-slate-100"
  >
    {title}
  </h3>
  <slot />
</Card>
