---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Gage O'Laughlin - Software Developer</title>
  </head>
  <body class="min-h-screen bg-slate-100 dark:bg-slate-800">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
